@model IEnumerable<Integrador.Models.DetallePedido>

@{
    ViewData["Title"] = "Productos en pedidos";
}

<h1>Productos en pedidos</h1>

<p>
    <a asp-action="Create">Añadir producto a un pedido existente</a>
</p>

<div style="max-height:68vh; overflow: auto;">
    <table class="table">
        <thead style="position: sticky; top: 0;">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Pedido.ClienteId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Pedido)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Producto.Modelo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Producto)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Cantidad)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PrecioUnidad)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Pedido.ClienteId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PedidoId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Producto.Modelo.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Producto.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cantidad)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PrecioUnidad)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Detalles</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>