@model IEnumerable<Integrador.Models.Producto>

@{
    ViewData["Title"] = "Escaparate";
}

<h1 class="text-center">Escaparate</h1>

<div class="row gx-3">
    <aside class="col-12 col-md-3">
        <h2>Buscador</h2>
        <form>
            <div class="mb-3">
                <label for="buscador" class="form-label">Buscador</label>
                <input type="text" class="form-control" id="buscador">
            </div>
        </form>
        <h2>Filtros</h2>
        <form>
            <div class="mb-3">
                <label for="marcas" class="form-label">Marcas</label>
                <select class="form-select" id="marcas">
                    <option value="0">Sin marca</option>
                </select>
            </div>
            <div class="mb-3">
                <label for="modelos" class="form-label">Modelos</label>
                <select class="form-select" id="modelos">
                    <option value="0">Sin modelo</option>
                </select>
            </div>
        </form>
        <button type="submit" class="btn btn-primary">Buscar</button>
        <button type="reset" class="btn btn-secondary">Borrar filtros</button>
    </aside>
    <div class="col-12 col-md-9">
        <div class="row d-flex ps-3 justify-content-evenly gap">
            @foreach (var item in Model)
            {
                <div class="card" style="max-width:280px;">
                    @{
                        var nombreImagen = item.Imagen ?? "default.jpeg";
                    }
                    <img src="~/img/@nombreImagen" class="card-img-top object-fit-contain mt-3" height="80" width="80"
                         asp-append-version="true" alt="Sin imagen" />

                    <div class="card-body">
                        <h5 class="card-title">@Html.DisplayFor(modelItem => item.Nombre)</h5>

                        <p class="card-text">
                            @Html.DisplayFor(modelItem => item.Modelo.Nombre)
                            <br />
                            @Html.DisplayFor(modelItem => item.Precio)
                            @if (User.IsInRole("Proveedor"))
                            {
                                <br />
                                @Html.DisplayFor(modelItem => item.Stock)
                                @if (item.Stock != 1)
                                {
                                    <span>unidades</span>
                                }
                                else
                                {
                                    <span>unidad</span>
                                }
                            }
                        </p>
                        <div>
                            @if (!User.IsInRole("Proveedor"))
                            {
                                @if (item.Stock > 0)
                                {
                                    <a asp-action="AgregarCarrito" asp-route-id="@item.Id" class="btn btn-primary">Añadir al carrito</a>
                                }
                                else
                                {
                                    <span class="btn btn-primary disabled">Sin stock</span>
                                }
                            }
                            else
                            {
                                <a asp-action="Create" asp-controller="Suministros" asp-route-id="@item.Id" class="btn btn-primary">Añadir stock SUM</a>
                            }
                            <a class="btn btn-secondary" asp-action="Details" asp-controller="Productos" asp-route-id="@item.Id">
                                Info ℹ
                            </a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>