@model IEnumerable<Integrador.Models.Producto>

@{
    ViewData["Title"] = "Escaparate";
}

<h1 class="text-center">
    @if (ViewBag.marca == null)
    {
        <span>Escaparate</span>
    }
    else
    {
        <span>@ViewBag.marca</span>
        @if (ViewBag.modelo != null)
        {
            <span>- @ViewBag.modelo</span>
        }
    }
</h1>

<div class="row gx-3">
    <aside class="col-12 col-md-2">
        <div class="text-center mb-1 p-2">
            <a asp-action="Index" asp-route-id="" class="p-2 rounded-2 btn btn-outline-primary">Escaparate</a>
        </div>
        @foreach (var marca in (IEnumerable<Marca>)ViewData["ListaMarcas"])
        {
            @if (marca.Modelos.Any())
            {
                <details name="marcas">
                    <summary><a asp-action="Index" asp-route-id="@marca.Id">@marca.Nombre</a></summary>
                    @foreach (var modelo in marca.Modelos)
                    {
                        Producto producto = modelo.Productos.FirstOrDefault();

                        @if (modelo.Productos.Any() && producto.Escaparate)
                        {
                            <span>
                                <a asp-action="Index" asp-route-id="@marca.Id" asp-route-mid="@modelo.Id">@modelo.Nombre</a>
                            </span>
                            @* <p>↑↑ - Hay @modelo.Productos.Count() productos</p> *@
                        }
                        @* else No hay productos de ese modelo *@
                    }
                </details>
            }
            @* else No hay modelos de esa marca *@
        }
    </aside>
    <div class="col-12 col-md-10 overflow-y-auto overflow-x-hidden pt-2" style="height:71vh;">
        <div class="row d-flex ps-3 justify-content-evenly gap-3 mb-2">
            @foreach (var item in Model)
            {
                <div class="card" style="max-width:280px;">
                    @{
                        var nombreImagen = item.Imagen ?? "default.png";
                    }
                    <img src="~/img/@nombreImagen" class="card-img-top object-fit-contain mt-3" height="80" width="80"
                         asp-append-version="true" alt="Sin imagen" draggable="false" />

                    <div class="card-body">
                        <h5 class="card-title">@Html.DisplayFor(modelItem => item.Nombre)</h5>

                        <p class="card-text">
                            @Html.DisplayFor(modelItem => item.Modelo.Nombre)
                            <br />
                            @Html.DisplayFor(modelItem => item.Precio)
                            @if (User.IsInRole("Proveedor") || User.IsInRole("Administrador"))
                            {
                                <br />
                                @Html.DisplayFor(modelItem => item.Stock)
                                @if (item.Stock != 1)
                                {
                                    <span>unidades</span>
                                }
                                else
                                {
                                    <span>unidad</span>
                                }
                            }
                        </p>
                        <div>
                            @if (User.IsInRole("Administrador"))
                            {
                                <a asp-action="Edit" asp-controller="Productos" asp-route-id="@item.Id" class="btn btn-primary">Editar</a>
                            }
                            else if (User.IsInRole("Proveedor"))
                            {
                                <a asp-action="Create" asp-controller="Suministros" asp-route-id="@item.Id" class="btn btn-primary">Añadir stock</a>
                            }
                            else
                            {
                                if (item.Stock > 0)
                                {
                                    <a asp-action="AgregarCarrito" asp-route-id="@item.Id" class="btn btn-primary">Añadir al carrito</a>
                                }
                                else
                                {
                                    <span class="btn btn-primary disabled">Sin stock</span>
                                }
                            }
                            <a class="btn btn-secondary" asp-action="Details" asp-controller="Productos" asp-route-id="@item.Id">
                                Info ℹ
                            </a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        var detailsElements = document.querySelectorAll("details");

        detailsElements.forEach(function (details) {
            var spanElements = details.querySelectorAll("span");

            if (spanElements.length === 0) {
                details.remove();
            }
        });
    });
</script>