@model IEnumerable<Integrador.Models.Marca>

@{
    ViewData["Title"] = "Marcas";
}

<h1>Marcas</h1>

@if (User.IsInRole("Administrador"))
{
    <p>
        <a asp-action="Create">Nueva marca</a>
    </p>
}

<div style="max-height:68vh; overflow: auto;">
    <table class="table mb-0">
        <thead style="position: sticky; top: 0;">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nombre)
                </th>
                <th>
                    Núm. modelos
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td>
                        @item.Modelos.Count
                    </td>
                    <td>
                        @if (User.IsInRole("Administrador"))
                        {
                            <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> <span>|</span>
                            <a asp-action="Details" asp-route-id="@item.Id">Detalles</a> <span>|</span>
                            <a asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
                        }
                        else
                        {
                            <a asp-action="Details" asp-route-id="@item.Id">Detalles</a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>