@model Integrador.Models.Cliente

@{
    ViewData["Title"] = "Borrar cliente";
}

<h2>¿Estás seguro que quieres borrar esto?</h2>

<div class="row">
    <div class="col-12 col-lg">
        <h4>Cliente</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Id)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Id)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Nombre)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Nombre)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Email)
            </dt>
            <dd class="col-sm-8">
                @if (Model.Email.EndsWith("-DEL."))
                {
                    <del>@Model.Email</del>
                }
                else
                {
                    @Html.DisplayFor(model => model.Email)
                }
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Nif)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Nif)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Telefono)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Telefono)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Direccion)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Direccion)
            </dd>
        </dl>
    </div>

    @if (Model.Pedidos.Count > 0)
    {
        <div class="col-12 col-lg-6">
            <h4>Pedidos</h4>
            <hr />
            <div style="max-height:50vh; overflow: auto;">
                <table class="table">
                    <thead style="position: sticky; top: 0;">
                        <tr>
                            <th>
                                Id. pedido
                            </th>
                            <th>
                                Estado del pedido
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    @foreach (var item in Model.Pedidos)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Id)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Estado.Nombre)
                            </td>
                            <td>
                                <div class="d-print-none">
                                    <a asp-action="Delete" asp-controller="Pedidos"
                                       asp-route-id="@item.Id">Eliminar</a>
                                </div>
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    }
</div>
<div>
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />

        @if (Model.Pedidos.Count == 0)
        {
            if (ViewBag.admin)
            {
                <input type="hidden" name="admin" value="true" />
                <a asp-action="Index" asp-controller="Usuarios">Volver</a>
            }
            else
            {
                <a asp-action="Index">Volver a la lista</a>
            }
            <span>|</span>
            <input type="submit" value="Borrar" class="btn btn-danger" />
        }
        else
        {
            <div class="alert alert-danger" style="width: fit-content;" role="alert">
                No se puede borrar un cliente con pedidos realizados.
            </div>
            if (ViewBag.admin)
            {
                <a asp-action="Index" asp-controller="Usuarios">Volver</a>
            }
            else
            {
                <a asp-action="Index">Volver a la lista</a>
            }
            <span>|</span>
            <input type="submit" value="Borrar" class="btn btn-danger" disabled />
        }
    </form>
</div>
