@model Integrador.Models.Cliente

@{
    ViewData["Title"] = "Detalles del cliente";
}

<h2>@ViewData["Title"]</h2>
<hr />

<div class="row">
    <div class="col-12 col-lg">
        <dl class="row">
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Nombre)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Nombre)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Email)
            </dt>
            <dd class="col-sm-8">
                @if (Model.Email.EndsWith("-DEL."))
                {
                    <del>@Model.Email</del>
                }
                else
                {
                    @Html.DisplayFor(model => model.Email)
                }
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Nif)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Nif)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Telefono)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Telefono)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Direccion)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Direccion)
            </dd>
        </dl>
    </div>

    @if (Model.Pedidos.Count > 0)
    {
        <div class="col-12 col-lg-6">
            <h4>Pedidos</h4>
            <hr />
            <div style="max-height:50vh; overflow: auto;">
                <table class="table">
                    <thead style="position: sticky; top: 0;">
                        <tr>
                            <th>
                                Id
                            </th>
                            <th>
                                Estado
                            </th>
                            <th>
                                Núm. prods
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    @foreach (var item in Model.Pedidos)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Id)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Estado.Nombre)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DetallePedidos.Count)
                            </td>
                            <td>
                                <div class="d-print-none">
                                    <a asp-action="Edit" asp-controller="Pedidos"
                                       asp-route-id="@item.Id">Editar</a> |
                                    <a asp-action="Details" asp-controller="Pedidos"
                                       asp-route-id="@item.Id">Detalles</a> |
                                    <a asp-action="Delete" asp-controller="Pedidos"
                                       asp-route-id="@item.Id">Eliminar</a>
                                </div>
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    }
</div>
<div>
    <a asp-action="Index">Volver a la lista</a> |
    <a asp-action="Edit" asp-route-id="@Model?.Id">Editar</a>
</div>
