@model Integrador.Models.Producto

@{
    ViewData["Title"] = "Borrar producto";
}

<h2>¿Estás seguro que quieres borrar esto?</h2>

<div class="row">
    <div class="col-12 col-lg">
        <h4>Producto</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-3 col-xl-2">
            </dt>
            <dd class="col-sm-9 col-xl-10">
                @{
                    var nombreImagen = Model.Imagen ?? "default.png";
                }
                <img src="~/img/@nombreImagen" height="75" width="75"
                     asp-append-version="true" alt="Sin imagen" draggable="false" />
            </dd>
            <dt class="col-sm-3 col-xl-2">
                Id
            </dt>
            <dd class="col-sm-9 col-xl-10">
                @Html.DisplayFor(model => model.Id)
            </dd>
            <dt class="col-sm-3 col-xl-2">
                @Html.DisplayNameFor(model => model.Nombre)
            </dt>
            <dd class="col-sm-9 col-xl-10">
                @Html.DisplayFor(model => model.Nombre)
            </dd>
            <dt class="col-sm-3 col-xl-2">
                @Html.DisplayNameFor(model => model.Modelo)
            </dt>
            <dd class="col-sm-9 col-xl-10">
                @if (User.IsInRole("Administrador"))
                {
                    <a asp-action="Details" asp-controller="Modelos" asp-route-id="@Model.ModeloId">
                        @Html.DisplayFor(model => model.Modelo.Nombre)
                    </a>
                }
                else
                {
                    @Html.DisplayFor(model => model.Modelo.Nombre)
                }
            </dd>
            <dt class="col-sm-3 col-xl-2">
                @Html.DisplayNameFor(model => model.Descripcion)
            </dt>
            <dd class="col-sm-9 col-xl-10">
                @Html.DisplayFor(model => model.Descripcion)
            </dd>
            <dt class="col-sm-3 col-xl-2">
                @Html.DisplayNameFor(model => model.Precio)
            </dt>
            <dd class="col-sm-9 col-xl-10">
                @Html.DisplayFor(model => model.Precio)
            </dd>
            <dt class="col-sm-3 col-xl-2">
                @Html.DisplayNameFor(model => model.Stock)
            </dt>
            <dd class="col-sm-9 col-xl-10">
                @Html.DisplayFor(model => model.Stock)
            </dd>
            <dt class="col-sm-3 col-xl-2">
                @Html.DisplayNameFor(model => model.Escaparate)
            </dt>
            <dd class="col-sm-9 col-xl-10">
                @if (Model.Escaparate)
                {
                    <span>Sí</span>
                }
                else
                {
                    <span>No</span>
                }
            </dd>
            <dt class="col-sm-3 col-xl-2">
                Veces pedido
            </dt>
            <dd class="col-sm-9 col-xl-10">
                @Model.DetallePedidos.Count
            </dd>
        </dl>
    </div>

    @if (Model.DetallePedidos.Count > 0)
    {
        <div class="col-12 col-lg-4">
            <h4>Pedidos</h4>
            <hr />
            <div style="max-height:50vh; overflow: auto;" class="mb-3">
                <table class="table">
                    <thead style="position: sticky; top: 0;">
                        <tr>
                            <th>
                                Id. Pedidos
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    @foreach (var item in Model.DetallePedidos)
                    {
                        <tr>
                            <td>
                                <a asp-action="Details" asp-controller="Pedidos" asp-route-id="@item.PedidoId">
                                    @item.PedidoId
                                </a>
                            </td>
                            <td>
                                <a asp-action="Delete" asp-controller="Pedidos" asp-route-id="@item.PedidoId" asp-route-volver="@Model.Id">
                                    Eliminar
                                </a>
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    }
</div>
<div class="pb-3">
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        @if (Model.DetallePedidos.Count == 0)
        {
            @if (ViewBag.volver != null)
            {
                <input type="hidden" name="volver" value="@ViewBag.volver" />
                <a asp-action="Delete" asp-controller="Modelos" asp-route-id="@ViewBag.volver">Volver</a>
            }
            else
            {
                <a asp-action="Index">Volver a la lista</a>
            }
            <span>|</span>
            <input type="submit" value="Borrar" class="btn btn-danger" />
        }
        else
        {
            <div class="alert alert-danger" style="width: fit-content;" role="alert">
                No se puede borrar un producto que ha sido pedido.
            </div>
            @if (ViewBag.volver != null)
            {
                <input type="hidden" name="volver" value="@ViewBag.volver" />
                <a asp-action="Delete" asp-controller="Modelos" asp-route-id="@ViewBag.volver">Volver</a>
            }
            else
            {
                <a asp-action="Index">Volver a la lista</a>
            }
            <span>|</span>
            <input type="submit" value="Borrar" class="btn btn-danger" disabled />
        }
    </form>
</div>