@model Integrador.Models.Producto

@{
    ViewData["Title"] = "Detalles del producto";
}

<h1>Detalles del producto</h1>

<div>
    <h4>Producto</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Modelo)
        </dt>
        <dd class="col-sm-10">
            <a asp-action="Details" asp-controller="Modelos" asp-route-id="@Model.ModeloId">
                @Html.DisplayFor(model => model.Modelo.Nombre)
            </a>
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Precio)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Precio)
        </dd>
        @* <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.PrecioCadena)
        </dt>
        <dd class="col-sm-10">
        @Html.DisplayFor(model => model.PrecioCadena)
        </dd> *@
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Escaparate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Escaparate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Imagen)
        </dt>
        <dd class="col-sm-10">
            @* @Html.DisplayFor(model => model.Imagen) *@
            @{
                var nombreImagen = Model.Imagen ?? "default.jpeg";
            }
            <img src="~/img/@nombreImagen" height="250" width="250"
                 asp-append-version="true" alt="Sin imagen" />
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Stock)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Stock)
        </dd>
        <dt class="col-sm-2">
            Veces pedido
        </dt>
        <dd class="col-sm-10">
            @Model.DetallePedidos.Count
        </dd>
    </dl>
</div>

@if (Model.DetallePedidos.Count > 0)
{
    <div>
        <h4>Detalle</h4>
        <hr />
        <table class="table border-bottom">
            <tr>
                <th>
                    Id. Pedido
                </th>
            </tr>
            @foreach (var pedido in Model.DetallePedidos)
            {
                <tr>
                    <td>
                        @pedido.PedidoId
                    </td>
                </tr>
            }
        </table>
    </div>
}

<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
