@model Integrador.Models.Producto

@{
    ViewData["Title"] = "Detalles del producto";
}

<h2>Detalles del producto</h2>
<hr />

<div class="row">
    <div class="col-12 col-lg">
        <dl class="row">
            <dt class="col-sm-2">
            </dt>
            <dd class="col-sm-10">
                @{
                    var nombreImagen = Model.Imagen ?? "default.png";
                }
                <img src="~/img/@nombreImagen" height="250" width="250"
                     asp-append-version="true" alt="Sin imagen" draggable="false" />
            </dd>
            @if (User.IsInRole("Administrador"))
            {
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Id)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Id)
                </dd>
            }
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Nombre)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Nombre)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Modelo)
            </dt>
            <dd class="col-sm-10">
                @if (User.IsInRole("Administrador"))
                {
                    <a asp-action="Details" asp-controller="Modelos" asp-route-id="@Model.ModeloId">
                        @Html.DisplayFor(model => model.Modelo.Nombre)
                    </a>
                }
                else
                {
                    @Html.DisplayFor(model => model.Modelo.Nombre)
                }
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Descripcion)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Descripcion)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Precio)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Precio)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Stock)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Stock)
            </dd>
            @if (User.IsInRole("Administrador"))
            {
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Escaparate)
                </dt>
                <dd class="col-sm-10">
                    @if (Model.Escaparate)
                    {
                        <span>Sí</span>
                    }
                    else
                    {
                        <span>No</span>
                    }
                </dd>
                <dt class="col-sm-2">
                    Veces pedido
                </dt>
                <dd class="col-sm-10">
                    @Model.DetallePedidos.Count
                </dd>
            }
        </dl>
    </div>
    @if (Model.DetallePedidos.Count > 0 && User.IsInRole("Administrador"))
    {
        <div class="col-12 col-lg-2">
            <h4>Núm. pedidos</h4>
            <hr />
            <div class="d-flex gap-3 flex-wrap justify-content-between overflow-x-hidden overflow-y-auto">
                @foreach (var pedido in Model.DetallePedidos)
                {
                    <a asp-action="Details" asp-controller="Pedidos" asp-route-id="@pedido.PedidoId">
                        @pedido.PedidoId
                    </a>
                }
            </div>
        </div>
    }
</div>


<div>
    @if (User.IsInRole("Administrador"))
    {
        <a asp-action="Index">Volver a la lista</a>
        <span>|</span>
        <a asp-action="Edit" asp-route-id="@Model?.Id">Editar</a>
    }
    else if (User.IsInRole("Cliente"))
    {
        <a asp-action="Index" asp-controller="Escaparate">Volver al escaparate</a>
    }
    else
    {
        <a asp-action="Index">Volver a la lista</a> <span>|</span>
        <a asp-action="Index" asp-controller="Escaparate">Volver al escaparate</a>
    }
</div>
