@model IEnumerable<Integrador.Models.Producto>

@{
    ViewData["Title"] = "Productos";
}

<h1>Productos</h1>

@if (User.IsInRole("Administrador"))
{
    <p>
        <a asp-action="Create">Nuevo producto</a>
    </p>
}
<div style="max-height:68vh; overflow: auto;">
    <table class="table">
        <thead style="position: sticky; top: 0;">
            <tr>
                @if (User.IsInRole("Administrador"))
                {
                    <th>
                        Id. Prod.
                    </th>
                }
                <th>
                    @Html.DisplayNameFor(model => model.Imagen)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Modelo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Nombre)
                </th>
                <th class="d-none d-md-table-cell">
                    @Html.DisplayNameFor(model => model.Descripcion)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Precio)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Stock)
                </th>
                @if (User.IsInRole("Administrador"))
                {
                    <th class="d-none d-md-table-cell">
                        @Html.DisplayNameFor(model => model.Escaparate)
                    </th>
                }
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    @if (User.IsInRole("Administrador"))
                    {
                        <td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                    }
                    <td>
                        @{
                            var nombreImagen = "default.png";
                            if (item.Imagen != null)
                            {
                                nombreImagen = item.Imagen;
                            }
                        }
                        <img src="~/img/@nombreImagen" height="80" width="80"
                             asp-append-version="true" alt="Sin imagen" draggable="false" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Modelo.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td class="d-none d-md-table-cell">
                        @Html.DisplayFor(modelItem => item.Descripcion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Precio)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Stock)
                    </td>
                    @if (User.IsInRole("Administrador"))
                    {
                        <td class="d-none d-md-table-cell">
                            @if (item.Escaparate)
                            {
                                <span>Sí</span>
                            }
                            else
                            {
                                <span>No</span>
                            }
                        </td>
                    }
                    <td>
                        @if (User.IsInRole("Administrador"))
                        {
                            <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> <span>|</span>
                            <a asp-action="Details" asp-route-id="@item.Id">Detalles</a> <span>|</span>
                            <a asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
                        }
                        else
                        {
                            <a asp-action="Details" asp-route-id="@item.Id">Detalles</a> <span>|</span>
                            <a asp-action="Create" asp-controller="Suministros" asp-route-id="@item.Id">Añadir stock</a>
                        }
                    </td>

                </tr>
            }
        </tbody>
    </table>
</div>
