@model Integrador.Models.Proveedor

@{
    ViewData["Title"] = "Borrar proveedor";
}

<h2>¿Estás seguro que quieres borrar esto?</h2>

<div class="row">
    <div class="col-12 col-lg">
        <h4>Proveedor</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Id)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Id)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Nombre)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Nombre)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Email)
            </dt>
            <dd class="col-sm-8">
                @if (Model.Email.EndsWith("-DEL."))
                {
                    <del>@Model.Email</del>
                }
                else
                {
                    @Html.DisplayFor(model => model.Email)
                }
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Nif)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Nif)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Telefono)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Telefono)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Direccion)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Direccion)
            </dd>
        </dl>
    </div>

    @if (Model.Suministros.Count > 0)
    {
        <div class="col-12 col-lg-6">
            <h4>Suministros</h4>
            <hr />
            <div style="max-height:50vh; overflow: auto;">
                <table class="table">
                    <thead style="position: sticky; top: 0;">
                        <tr>
                            <th>
                                Fecha
                            </th>
                            <th>
                                Modelo
                            </th>
                            <th>
                                Producto
                            </th>
                            <th>
                                Unidades
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    @foreach (var item in Model.Suministros)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.FechaSuministro)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Producto.Modelo.Nombre)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Producto.Nombre)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Unidades)
                            </td>
                            <td>
                                <div class="d-print-none">
                                    <a asp-action="Delete" asp-controller="Suministros"
                                       asp-route-id="@item.Id">Eliminar</a>
                                </div>
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    }
</div>
<div>
    @if (Model.Suministros.Count != 0)
    {
        if (Model.Email.EndsWith("-DEL."))
        {
            <div class="alert alert-danger" style="width: fit-content;" role="alert">
                No se puede borrar al proveedor completamente porque tiene suministros.
            </div>
            if (ViewBag.admin)
            {
                <a asp-action="Index" asp-controller="Usuarios">Volver</a>
            }
            else
            {
                <a asp-action="Index">Volver a la lista</a>
            }
            <span>|</span>
            <input type="submit" value="Borrar" class="btn btn-danger" disabled />
        }
        else
        {
            <div class="alert alert-warning" style="width: fit-content;" role="alert">
                Se borrará la cuenta del proveedor, y se marcará al proveedor como eliminado, pero no se borrarán sus suministros.
            </div>
            <form asp-action="Delete">
                <input type="hidden" asp-for="Id" />
                @if (ViewBag.admin)
                {
                    <input type="hidden" name="admin" value="true" />
                    <a asp-action="Index" asp-controller="Usuarios">Volver</a>
                }
                else
                {
                    <a asp-action="Index">Volver a la lista</a>
                }
                <span>|</span>
                <input type="submit" value="Borrar" class="btn btn-danger" />
            </form>
        }
    }
    else
    {
        <div class="alert alert-warning" style="width: fit-content;" role="alert">
            @if (Model.Email.EndsWith("-DEL."))
            {
                <span>Se borrará completamente el proveedor.</span>
            }
            else
            {
                <span>Se borrará el proveedor y su cuenta.</span>
            }
        </div>
        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            @if (ViewBag.admin)
            {
                <input type="hidden" name="admin" value="true" />
                <a asp-action="Index" asp-controller="Usuarios">Volver</a>
            }
            else
            {
                <a asp-action="Index">Volver a la lista</a>
            }
            <span>|</span>
            <input type="submit" value="Borrar" class="btn btn-danger" />
        </form>
    }
</div>
