@model Integrador.Models.Proveedor

@{
    ViewData["Title"] = "Borrar proveedor";
}

<h1>Borrar proveedor</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Proveedor</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @if (Model.Email.EndsWith("-DEL."))
            {
                <del>@Model.Email</del>
            }
            else
            {
                @Html.DisplayFor(model => model.Email)
            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nif)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nif)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Telefono)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Telefono)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Direccion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Direccion)
        </dd>
    </dl>
    @if (Model.Suministros.Count > 0)
    {
        <div>
            <h4>Suministros</h4>
            <hr />
            <table class="table border-bottom">
                <tr>
                    <th>
                        Fecha del suministro
                    </th>
                    <th>
                        Modelo
                    </th>
                    <th>
                        Producto
                    </th>
                    <th>
                        Unidades
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model.Suministros)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.FechaSuministro)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Producto.Modelo.Nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Producto.Nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Unidades)
                        </td>
                        <td>
                            <div class="d-print-none">
                                <a asp-action="Edit" asp-controller="Suministros"
                                   asp-route-id="@item.Id">Editar</a> |
                                <a asp-action="Delete" asp-controller="Suministros"
                                   asp-route-id="@item.Id">Eliminar</a>
                            </div>
                        </td>
                    </tr>
                }
            </table>
        </div>
    }

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        @if (Model.Suministros.Count == 0)
        {
            if (ViewBag.admin && User.IsInRole("Administrador"))
            {
                <input type="hidden" name="admin" value="true" />
            }
            <input type="submit" value="Delete" class="btn btn-danger" />
        }
        else
        {
            <div class="alert alert-danger" style="width: fit-content;" role="alert">
                No se puede borrar el proveedor porque tiene suministros.
            </div>
            <input type="submit" value="Delete" class="btn btn-danger" disabled />
        }
        |
        @if (ViewBag.admin && User.IsInRole("Administrador"))
        {
            <a asp-action="Index" asp-controller="Usuarios">Volver a la lista</a>
        }
        else
        {
            <a asp-action="Index">Volver a la lista</a>
        }
    </form>
</div>
