@model Integrador.Models.Proveedor

@{
    ViewData["Title"] = "Detalles del proveedor";
}

<h2>Detalles del proveedor</h2>
<hr />

<div>
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-9">
            @if (Model.Email.EndsWith("-DEL."))
            {
                <del>@Model.Email</del>
            }
            else
            {
                @Html.DisplayFor(model => model.Email)
            }
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Nif)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Nif)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Telefono)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Telefono)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Direccion)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Direccion)
        </dd>
    </dl>
</div>

@if (Model.Suministros.Count > 0)
{
    <div>
        <h4>Suministros</h4>
        <hr />
        <table class="table border-bottom">
            <tr>
                <th>
                    Fecha del suministro
                </th>
                <th>
                    Modelo
                </th>
                <th>
                    Producto
                </th>
                <th>
                    Unidades
                </th>
                <th></th>
            </tr>
            @foreach (var item in Model.Suministros)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FechaSuministro)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Producto.Modelo.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Producto.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Unidades)
                    </td>
                    <td>
                        <div class="d-print-none">
                            <a asp-action="Edit" asp-controller="Suministros"
                               asp-route-id="@item.Id">Editar</a> |
                            <a asp-action="Delete" asp-controller="Suministros"
                               asp-route-id="@item.Id">Eliminar</a>
                        </div>
                    </td>
                </tr>
            }
        </table>
    </div>
}

<div class="d-print-none">
    <a asp-action="Edit" asp-route-id="@Model?.Id">Editar</a> |
    <a asp-action="Index">Volver a la lista</a>
</div>
