@model IEnumerable<Integrador.Models.Proveedor>

@{
    ViewData["Title"] = "Proveedores";
}

<h1>Proveedores</h1>

<p>
    <a asp-action="Create">Nuevo proveedor</a>
</p>

<div style="max-height:68vh; overflow: auto;">
    <table class="table mb-0">
        <thead style="position: sticky; top: 0;">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Nif)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Telefono)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Direccion)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td>
                        @if (item.Email.EndsWith("-DEL."))
                        {
                            <del>@item.Email</del>
                        }
                        else
                        {
                            @Html.DisplayFor(modelItem => item.Email)
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nif)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Telefono)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Direccion)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Detalles</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>