@model Integrador.Models.Suministro

@{
    ViewData["Title"] = "Borrar suministro";
}

<h2>¿Estás seguro que quieres borrar esto?</h2>
<h4>Borrar suministro</h4>
<hr />
<div>
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.ProveedorId)
        </dt>
        <dd class="col-sm-9">
            @if (User.IsInRole("Administrador"))
            {

                @if (Model.Proveedor.Email.EndsWith("-DEL."))
                {
                    <del>@Model.Proveedor.Email</del>
                }
                else
                {
                    @Html.DisplayFor(model => model.Proveedor.Email)
                }
            }
            else
            {
                @Html.DisplayFor(model => model.Proveedor.Nombre)
            }
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.FechaSuministro)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.FechaSuministro)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Producto.Modelo)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Producto.Modelo.Nombre)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.ProductoId)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Producto.Nombre)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Unidades)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Unidades)
        </dd>

    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <a asp-action="Index">Volver a la lista</a> |
        <input type="submit" value="Borrar" class="btn btn-danger" />
    </form>
</div>
