@model Integrador.Models.Suministro

@{
    ViewData["Title"] = "Detalles del suministro";
}

<h2>Detalles del suministro</h2>
<hr />

<div>
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.ProveedorId)
        </dt>
        <dd class="col-sm-9">
            @if (User.IsInRole("Administrador"))
            {

                @if (Model.Proveedor.Email.EndsWith("-DEL."))
                {
                    <del>@Model.Proveedor.Email</del>
                }
                else
                {
                    @Html.DisplayFor(model => model.Proveedor.Email)
                }
            }
            else
            {
                @Html.DisplayFor(model => model.Proveedor.Email)
            }
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.FechaSuministro)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.FechaSuministro)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Producto.Modelo)
        </dt>
        <dd class="col-sm-9">
            @if (User.IsInRole("Administrador"))
            {
                <a asp-action="Details" asp-controller="Modelos" asp-route-id="@Model.Producto.ModeloId">
                    @Html.DisplayFor(model => model.Producto.Modelo.Nombre)
                </a>
            }
            else
            {
                @Html.DisplayFor(model => model.Producto.Modelo.Nombre)
            }
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.ProductoId)
        </dt>
        <dd class="col-sm-9">
            @if (User.IsInRole("Administrador"))
            {
                <a asp-action="Details" asp-controller="Productos" asp-route-id="@Model.ProductoId">
                    @Html.DisplayFor(model => model.Producto.Nombre)
                </a>
            }
            else
            {
                @Html.DisplayFor(model => model.Producto.Nombre)
            }
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Unidades)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Unidades)
        </dd>
        <div class="text-center d-print-none">
            <a class="btn btn-primary" href="javascript:window.print()">Imprimir</a>
        </div>
    </dl>
</div>
<div class="d-print-none">
    <a asp-action="Index">Volver a la lista</a> |
    <a asp-action="Edit" asp-route-id="@Model?.Id">Editar</a>
</div>
