@model IEnumerable<Integrador.Models.Suministro>

@{
    ViewData["Title"] = "Suministros";
}

<h1>Suministros</h1>

<p>
    <a asp-action="Create">Nuevo suministro</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProveedorId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductoId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Producto.Modelo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Unidades)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaSuministro)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Proveedor.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Producto.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Producto.Modelo.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Unidades)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaSuministro)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
