@model Integrador.Models.Pedido

@{
    ViewData["Title"] = "Borrar pedido";
}

<h2>¿Estás seguro que quieres borrar esto?</h2>

<div class="row">
    <div class="col-12 col-lg">
        <h4>Pedido</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Id)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Id)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.FechaPedido)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.FechaPedido)
            </dd>
            @if (User.IsInRole("Administrador"))
            {
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Cliente)
                </dt>
                <dd class="col-sm-8">
                    @if (Model.Cliente.Email.EndsWith("-DEL."))
                    {
                        <del>@Model.Cliente.Email</del>
                    }
                    else
                    {
                        @Html.DisplayFor(model => model.Cliente.Email)
                    }
                </dd>
            }
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Estado)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Estado.Descripcion)
            </dd>
            @if (Model.Comentarios != null)
            {
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Comentarios)
                </dt>
                <dd class="col-sm-8" style="max-height: 200px; overflow:auto; max-width:400px; word-wrap:anywhere;">
                    @Html.DisplayFor(model => model.Comentarios)
                </dd>
            }

            @if (Model.FechaEsperada != null)
            {
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.FechaEsperada)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.FechaEsperada)
                </dd>
            }

            @if (Model.FechaConfirmacion != null)
            {
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.FechaConfirmacion)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.FechaConfirmacion)
                </dd>
            }

            @if (Model.FechaEnvio != null)
            {
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.FechaEnvio)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.FechaEnvio)
                </dd>
            }

            @if (Model.FechaEntrega != null)
            {
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.FechaEntrega)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.FechaEntrega)
                </dd>
            }

            @if (Model.FechaAnulado != null)
            {
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.FechaAnulado)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.FechaAnulado)
                </dd>
            }

            @if (Model.FechaDevolucion != null)
            {
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.FechaDevolucion)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.FechaDevolucion)
                </dd>
            }

        </dl>
    </div>
    @if (Model.DetallePedidos.Count > 0)
    {
        <div class="col-12 col-lg-6">
            <h4>Productos del pedido</h4>
            <hr />
            <div style="max-height:50vh; overflow: auto;">
                <table class="table">
                    <thead style="position: sticky; top: 0;">
                        <tr>
                            <th>
                                Modelo
                            </th>
                            <th>
                                Producto
                            </th>
                            <th>
                                Cantidad
                            </th>
                            <th>
                                Precio
                            </th>
                        </tr>
                    </thead>
                    @foreach (var item in Model.DetallePedidos)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Producto.Modelo.Nombre)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Producto.Nombre)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Cantidad)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PrecioUnidad)
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    }
</div>

<div>
    <div class="alert alert-danger" style="width: fit-content;" role="alert">
        @if (Model.EstadoId >= 4 || Model.EstadoId == 1)
        {
            <span>Al borrar este pedido se perderán todos sus datos.</span>
        }
        else
        {
            <span>No se puede borrar un pedido que no esté pendiente, entregado, anulado o devuelto.</span>
        }
    </div>
    <div class="my-3">
        @if (ViewBag.volver != null)
        {
            <input type="hidden" name="volver" value="@ViewBag.volver" />
            <a asp-action="Delete" asp-controller="Productos" asp-route-id="@ViewBag.volver">Volver</a>
        }
        else
        {
            <a asp-action="Index">Volver a la lista</a> <span>|</span>
            <a asp-action="Details" asp-route-id="@Model.Id">Volver al pedido</a>
        }
        |
        @if (Model.EstadoId >= 4 || Model.EstadoId == 1)
        {
            <form asp-action="Delete" class="d-inline">
                <input type="hidden" asp-for="Id" />
                <input type="submit" value="Borrar" class="btn btn-danger" />
            </form>
        }
        else
        {
            <input type="submit" value="Borrar" class="btn btn-danger" disabled />
        }
    </div>
</div>
