@model Integrador.Models.Pedido

@{
    ViewData["Title"] = "Detalles del pedido";
}

<h1>Detalles del pedido</h1>

<div>
    <h4>Pedido</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FechaPedido)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FechaPedido)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cliente)
        </dt>
        <dd class="col-sm-10">
            @if (Model.Cliente.Email.EndsWith("-DEL."))
            {
                <del>@Model.Cliente.Email</del>
            }
            else
            {
                @Html.DisplayFor(model => model.Cliente.Email)
            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Estado.Descripcion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FechaEsperada)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FechaEsperada)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FechaConfirmacion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FechaConfirmacion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FechaEnvio)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FechaEnvio)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FechaEntrega)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FechaEntrega)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FechaAnulado)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FechaAnulado)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FechaDevolucion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FechaDevolucion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Comentarios)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Comentarios)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

<div class="d-print-none text-center">
    <a class="btn btn-primary" href="javascript:window.print()">Imprimir</a>
</div>