@model Integrador.Models.Pedido

@{
    ViewData["Title"] = "Detalles del pedido";
}

<h1>Detalles del pedido</h1>

<div class="row">
    <div class="col-12 col-lg">
        <h4>Pedido</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Id)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Id)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.FechaPedido)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.FechaPedido)
            </dd>
            @if (User.IsInRole("Administrador"))
            {
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Cliente)
                </dt>
                <dd class="col-sm-8">
                    @if (Model.Cliente.Email.EndsWith("-DEL."))
                    {
                        <del>@Model.Cliente.Email</del>
                    }
                    else
                    {
                        @Html.DisplayFor(model => model.Cliente.Email)
                    }
                </dd>
            }
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Estado)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Estado.Descripcion)
            </dd>

            @* COMENTARIOS *@
            <dt class="col-sm-4">
                @if (Model.Comentarios != null && Model.EstadoId <= 3)
                {
                    <a asp-action="Edit" asp-route-id="@Model.Id" class="d-print-none">
                        @Html.DisplayNameFor(model => model.Comentarios)
                    </a>
                }
                else
                {
                    @Html.DisplayNameFor(model => model.Comentarios)
                }
            </dt>
            <dd class="col-sm-8">
                @if (Model.Comentarios == null && Model.EstadoId <= 3)
                {
                    <a asp-action="Edit" asp-route-id="@Model.Id" class="d-print-none">Añadir comentarios 📝</a>
                }
                else
                {
                    <span>@Html.DisplayFor(model => model.Comentarios)</span>
                }
            </dd>

            @if (Model.FechaEsperada != null)
            {
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.FechaEsperada)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.FechaEsperada)
                </dd>
            }

            @if (Model.FechaConfirmacion != null)
            {
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.FechaConfirmacion)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.FechaConfirmacion)
                </dd>
            }

            @if (Model.FechaEnvio != null)
            {
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.FechaEnvio)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.FechaEnvio)
                </dd>
            }

            @if (Model.FechaEntrega != null)
            {
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.FechaEntrega)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.FechaEntrega)
                </dd>
            }

            @if (Model.FechaAnulado != null)
            {
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.FechaAnulado)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.FechaAnulado)
                </dd>
            }

            @if (Model.FechaDevolucion != null)
            {
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.FechaDevolucion)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.FechaDevolucion)
                </dd>
            }
        </dl>
    </div>
    @if (Model.DetallePedidos.Count > 0)
    {
        <div class="col-12 col-lg-6">
            <h4>Productos del pedido</h4>
            <hr />
            <table class="table border-bottom">
                <tr>
                    <th>
                        Modelo
                    </th>
                    <th>
                        Producto
                    </th>
                    <th>
                        Descripción
                    </th>
                    <th>
                        Cantidad
                    </th>
                    <th>
                        Precio
                    </th>
                </tr>
                @foreach (var item in Model.DetallePedidos)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Producto.Modelo.Nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Producto.Nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Producto.Descripcion)
                        </td>
                        <td class="text-center">
                            <div class="d-flex flex-row align-items-baseline gap-3">
                                @if (item.Cantidad > 1 && Model.EstadoId == 1)
                                {
                                    <form asp-action="Menos" asp-route-id="@Model?.Id" class="d-print-none">
                                        <input type="hidden" name="dpid" value="@item.Id" />
                                        <input class="btn btn-primary" value="➖" type="submit" />
                                    </form>
                                }
                                else if (item.Cantidad == 1 && Model.EstadoId == 1)
                                {
                                    <form asp-action="Delete" asp-controller="DetallePedidos" asp-route-id="@item.Id" class="d-print-none">
                                        <input type="hidden" name="pedidoid" value="@Model.Id" />
                                        <input class="btn btn-danger" value="🗑" type="submit" />
                                    </form>
                                }
                                <span class="flex-grow-1">@Html.DisplayFor(modelItem => item.Cantidad)</span>
                                @if (Model.EstadoId == 1)
                                {
                                    <form asp-action="Mas" asp-route-id="@Model?.Id" class="d-print-none">
                                        <input type="hidden" name="dpid" value="@item.Id" />
                                        <input class="btn btn-primary" value="➕" type="submit" />
                                    </form>
                                }
                            </div>
                        </td>
                        <td class="text-end">
                            <span class="text-nowrap">@Html.DisplayFor(modelItem => item.PrecioUnidad) €</span>
                        </td>
                    </tr>
                }
            </table>
            @{
                decimal? total = 0;
                foreach (var item in Model.DetallePedidos)
                {
                    total += item.PrecioUnidad * item.Cantidad;
                }
            }
            <h5>
                Total: @total.ToString() €
            </h5>
        </div>
    }
    else
    {
        <div class="col-12 col-lg-6 d-grid" style="place-content: center;">
            <div class="alert alert-danger" style="width: fit-content;" role="alert">
                No hay productos en el pedido.
            </div>
        </div>
    }
</div>

<div class="d-print-none text-center d-flex justify-content-evenly align-items-center">
    <a class="btn btn-primary" href="javascript:window.print()">Imprimir</a>
    @switch (Model.Estado.Nombre)
    {
        case "Pendiente":
            {
                @if (Model.DetallePedidos.Count > 0)
                {
                    <form asp-action="Confirmar" asp-route-id="@Model?.Id">
                        <input class="btn btn-primary" type="submit" value="Confirmar" />
                    </form>
                }
                else
                {
                    <form asp-action="Confirmar" asp-route-id="@Model?.Id">
                        <input class="btn btn-primary" type="submit" value="Confirmar" disabled />
                    </form>
                }
            }
            break;
        case "Confirmado":
            {
                <div class="alert alert-info" style="width: fit-content;" role="alert">
                    A la espera del envio.
                </div>
                if (User.IsInRole("Administrador"))
                {
                    <form asp-action="Enviado" asp-route-id="@Model?.Id">
                        <input class="btn btn-primary" type="submit" value="Enviado" />
                    </form>
                }
                else
                {
                    <form asp-action="Anular" asp-route-id="@Model?.Id">
                        <input class="btn btn-primary" type="submit" value="Anular" />
                    </form>
                }
            }
            break;
        case "Enviado":
            {
                <div class="alert alert-info" style="width: fit-content;" role="alert">
                    A la espera de la entrega.
                </div>
                if (User.IsInRole("Cliente"))
                {
                    <form asp-action="Entregado" asp-route-id="@Model?.Id">
                        <input class="btn btn-primary" type="submit" value="¡Ya lo tengo!" />
                    </form>
                }
            }
            break;
        case "Entregado":
            {
                <div class="alert alert-success" style="width: fit-content;" role="alert">
                    Entregado.
                </div>
                if (User.IsInRole("Cliente"))
                {
                    <form asp-action="Devolver" asp-route-id="@Model?.Id">
                        <input class="btn btn-primary" type="submit" value="Devolver" />
                    </form>
                }
            }
            break;
        case "Anulado":
            {

                <div class="alert alert-danger" style="width: fit-content;" role="alert">
                    Pedido anulado.
                </div>

            }
            break;
    }
</div>

<div>
    @if (User.IsInRole("Administrador"))
    {
        <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> <span>|</span>
    }
    <a asp-action="Index">Back to List</a> | <a asp-action="Index" asp-controller="Escaparate">Seguir comprando</a>
</div>