@using Integrador.Views.Pedidos
@model Integrador.Models.Pedido

@{
    ViewData["Title"] = "Detalles del pedido";
    decimal? total = 0;
}

@if (ViewBag.carrito == true)
{
    <h1>Carrito</h1>
}
else
{
    <h1>Detalles del pedido</h1>
}

<div class="row">
    <div class="col-12 col-lg">
        <h4>Pedido</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-4">
                Núm. Pedido
                @* @Html.DisplayNameFor(model => model.Id) *@
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Id)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.FechaPedido)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.FechaPedido)
            </dd>
            @if (User.IsInRole("Administrador"))
            {
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Cliente)
                </dt>
                <dd class="col-sm-8">
                    @if (Model.Cliente.Email.EndsWith("-DEL."))
                    {
                        <del>@Model.Cliente.Email</del>
                    }
                    else
                    {
                        @Html.DisplayFor(model => model.Cliente.Email)
                    }
                </dd>
            }
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Estado)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Estado.Descripcion)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.CodDescuento)
            </dt>
            <dd class="col-sm-8">
                @if (Model.CodDescuento == null)
                {
                    @if (Model.EstadoId == 1)
                    {
                        <a asp-action="Descuentos" asp-controller="Pedidos" asp-route-id="@Model?.Id">
                            <span>Sin descuento.</span>
                        </a>
                    }
                    else
                    {
                        <span>Sin descuento.</span>
                    }
                }
                else
                {
                    @if (Model.EstadoId == 1)
                    {
                        <div class="d-flex flex-row ">
                            <a asp-action="Descuentos" asp-controller="Pedidos" asp-route-id="@Model?.Id">
                                @Html.DisplayFor(model => model.CodDescuento)
                            </a>
                            <form asp-action="Descuentos" asp-route-id="@Model?.Id" class="d-print-none">
                                <input name="Codigo" class="form-control" value="" hidden />
                                <input type="submit" value="🗑" class="btn btn-link text-decoration-none p-0 ms-3" />
                            </form>
                        </div>
                    }
                    else
                    {
                        @Html.DisplayFor(model => model.CodDescuento)
                    }
                }
            </dd>

            @* COMENTARIOS *@
            @if (Model.EstadoId <= 3 && User.IsInRole("Cliente"))
            {
                <dt class="col-sm-4">
                    @if (Model.Comentarios != null)
                    {
                        <a asp-action="Edit" asp-route-id="@Model.Id" class="d-print-none">
                            @Html.DisplayNameFor(model => model.Comentarios)
                        </a>
                    }
                    else
                    {
                        @Html.DisplayNameFor(model => model.Comentarios)
                    }

                </dt>
                <dd class="col-sm-8">
                    @if (Model.Comentarios == null)
                    {
                        <a asp-action="Edit" asp-route-id="@Model.Id" class="d-print-none text-decoration-none"><span class="text-decoration-underline">Añadir comentarios</span> 📝</a>
                    }
                    else
                    {
                        <span>@Html.DisplayFor(model => model.Comentarios)</span>
                    }
                </dd>
            }
            else if (Model.Comentarios != null)
            {

                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Comentarios)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Comentarios)
                </dd>

            }

            @if (Model.FechaEsperada != null)
            {
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.FechaEsperada)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.FechaEsperada)
                </dd>
            }

            @if (Model.FechaConfirmacion != null)
            {
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.FechaConfirmacion)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.FechaConfirmacion)
                </dd>
            }

            @if (Model.FechaEnvio != null)
            {
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.FechaEnvio)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.FechaEnvio)
                </dd>
            }

            @if (Model.FechaEntrega != null)
            {
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.FechaEntrega)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.FechaEntrega)
                </dd>
            }

            @if (Model.FechaAnulado != null)
            {
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.FechaAnulado)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.FechaAnulado)
                </dd>
            }

            @if (Model.FechaDevolucion != null)
            {
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.FechaDevolucion)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.FechaDevolucion)
                </dd>
            }
        </dl>
    </div>
    @if (Model.DetallePedidos.Count > 0)
    {
        <div class="col-12 col-lg-6">
            <h4>Productos del pedido</h4>
            <hr />
            <table class="table border-bottom">
                <tr>
                    <th></th>
                    <th>
                        Modelo
                    </th>
                    <th>
                        Producto
                    </th>
                    <th>
                        Descripción
                    </th>
                    <th class="text-center">
                        Cantidad
                    </th>
                    <th>
                        Precio
                    </th>
                </tr>
                @foreach (var item in Model.DetallePedidos)
                {
                    <tr>
                        <td>
                            @if (item.Cantidad > 1 && Model.EstadoId == 1)
                            {
                                <form asp-action="Delete" asp-controller="DetallePedidos" asp-route-id="@item.Id" class="d-print-none">
                                    <input type="hidden" name="pedidoid" value="@Model.Id" hidden />
                                    <input class="btn btn-danger" value="🗑" type="submit" />
                                </form>
                            }
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.Producto.Modelo.Nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Producto.Nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Producto.Descripcion)
                        </td>
                        <td class="text-center">
                            <div class="d-flex flex-row align-items-baseline gap-3">
                                @if (Model.EstadoId == 1)
                                {
                                    @if (item.Cantidad > 1)
                                    {
                                        <form asp-action="Menos" asp-route-id="@Model?.Id" class="d-print-none">
                                            <input type="hidden" name="dpid" value="@item.Id" hidden />
                                            <input class="btn btn-primary" value="➖" type="submit" />
                                        </form>
                                    }
                                    else
                                    {
                                        <form asp-action="Delete" asp-controller="DetallePedidos" asp-route-id="@item.Id" class="d-print-none">
                                            <input type="hidden" name="pedidoid" value="@Model.Id" hidden />
                                            <input class="btn btn-danger" value="🗑" type="submit" />
                                        </form>
                                    }
                                }
                                <div class="d-flex">
                                    <span class="flex-grow-1">@Html.DisplayFor(modelItem => item.Cantidad)</span>
                                    @if (item.Cantidad > item.Producto.Stock)
                                    {
                                    <span class="text-danger">*</span>
                                    }
                                </div>
                                @if (Model.EstadoId == 1)
                                {
                                    @if (item.Cantidad >= item.Producto.Stock)
                                    {
                                        <input class="btn btn-danger invisible" value="➕" type="submit" />
                                    }
                                    else
                                    {
                                        <form asp-action="Mas" asp-route-id="@Model?.Id" class="d-print-none">
                                            <input type="hidden" name="dpid" value="@item.Id" />
                                            <input class="btn btn-primary" value="➕" type="submit" />
                                        </form>
                                    }
                                }
                            </div>
                        </td>
                        <td class="text-end">
                            <span class="text-nowrap">@Html.DisplayFor(modelItem => item.PrecioUnidad) €</span>
                        </td>
                    </tr>
                    total += item.PrecioUnidad * item.Cantidad;
                }
            </table>
            <div class="text-end">
                @if (Model.CodDescuento != null)
                {
                    <h5>Subtotal: @total €</h5>
                    <h5>Descuento: <span class="text-danger">- @Model.Descuento €</span></h5>
                    total -= Model.Descuento;
                    <h5>Total: @total €</h5>
                }
                else
                {
                    <h5>
                        Total: @total.ToString() €
                    </h5>
                }
            </div>
        </div>
    }
    else
    {
        <div class="col-12 col-lg-6 d-grid" style="place-content: center;">
            <div class="alert alert-danger text-center" style="width: fit-content;" role="alert">
                <p>No hay productos en el pedido.</p>
                <a asp-action="Index" asp-controller="Escaparate">Añadir productos</a>
            </div>
        </div>
    }
</div>
<div class="d-print-none text-center d-flex justify-content-evenly align-items-center">
    @if (Model.DetallePedidos.Count > 0)
    {
        <a class="btn btn-primary" href="javascript:window.print()">Imprimir</a>
    }
    @switch (Model.Estado.Nombre)
    {
        case "Pendiente":
            {
                if (Model.DetallePedidos.Count > 0)
                {
                    bool hayStock = true;
                    foreach (var item in Model.DetallePedidos)
                    {
                        if (item.Cantidad > item.Producto.Stock || item.Cantidad <= 0)
                        {
                            hayStock = false;
                            break;
                        }
                    }
                    if (hayStock)
                    {
                        <form asp-action="Confirmar" asp-route-id="@Model?.Id">
                            <input class="btn btn-primary" type="submit" value="Confirmar" />
                        </form>
                    }
                    else
                    {
                        <div class="alert alert-danger" style="width: fit-content;" role="alert">
                            No hay stock de algún producto.
                        </div>
                        <input class="btn btn-primary" type="submit" value="Confirmar" disabled />
                    }
                }
                else
                {
                    <input class="btn btn-primary" type="submit" value="Confirmar" disabled />
                }
            }
            break;
        case "Confirmado":
            {
                <div class="alert alert-info" style="width: fit-content;" role="alert">
                    A la espera del envio.
                </div>
                if (User.IsInRole("Administrador"))
                {
                    <form asp-action="Enviar" asp-route-id="@Model?.Id">
                        <input class="btn btn-primary" type="submit" value="Enviar" />
                    </form>
                }
                else
                {
                    <form asp-action="Anular" asp-route-id="@Model?.Id">
                        <input class="btn btn-primary" type="submit" value="Anular" />
                    </form>
                }
            }
            break;
        case "Enviado":
            {
                <div class="alert alert-info" style="width: fit-content;" role="alert">
                    A la espera de la entrega.
                </div>
                if (User.IsInRole("Cliente"))
                {
                    <form asp-action="Entregado" asp-route-id="@Model?.Id">
                        <input class="btn btn-primary" type="submit" value="¡Ya lo tengo!" />
                    </form>
                }
            }
            break;
        case "Entregado":
            {
                <div class="alert alert-success" style="width: fit-content;" role="alert">
                    Entregado.
                </div>
                @* <a class="btn btn-danger" asp-action="Delete" asp-route-id="@Model?.Id">Borrar</a> *@
                if (User.IsInRole("Cliente"))
                {
                    <form asp-action="Devolver" asp-route-id="@Model?.Id">
                        <input class="btn btn-primary" type="submit" value="Devolver" />
                    </form>
                }
            }
            break;
        case "Anulado":
            {
                <div class="alert alert-danger" style="width: fit-content;" role="alert">
                    Pedido anulado.
                </div>
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@Model?.Id">Borrar</a>
            }
            break;
        case "Devuelto":
            {
                <div class="alert alert-warning" style="width: fit-content;" role="alert">
                    Pedido devuelto.
                </div>
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@Model?.Id">Borrar</a>
            }
            break;
    }
</div>

<div>
    @if (User.IsInRole("Administrador"))
    {
        <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a>

        <span>|</span>
    }
    @if (!ViewBag.carrito)
    {
        <a asp-action="Index">Back to List</a>

        <span>|</span>
    }
    <a asp-action="Index" asp-controller="Escaparate">Seguir comprando</a>
</div>