@* @model IEnumerable<Integrador.Models.Pedido> *@
@model PaginatedList<Integrador.Models.Pedido>

@{
    ViewData["Title"] = User.IsInRole("Cliente") ? "Mis Pedidos" : "Pedidos";
    string prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    string nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

@if (Model.Count() != 0)
{
    <h1>@ViewData["Title"]</h1>
}

@if (User.IsInRole("Administrador"))
{
    <div class="row mb-2 justify-content-between">
        <div class="col-12 col-sm-6">
            <p>
                <a asp-action="Create">Nuevo pedido</a>
            </p>
        </div>
        <form class="col-12 col-sm-6" style="width:fit-content;">
            <div class="form-group d-flex align-items-center gap-4 mb-1">
                <input name="busq" type="search" list="clientes" value="@ViewBag.busq" class="form-control" placeholder="Buscar..." />
                <input type="submit" value="Buscar" class="btn btn-primary" />
                <a class="btn btn-secondary text-nowrap" asp-action="Index" asp-route-busq="">Borrar filtros</a>
            </div>
        </form>
    </div>
    <datalist id="clientes">
        @foreach (var item in (List<Cliente>)ViewData["Clientes"])
        {
            <option value="@item.Email" />
        }
    </datalist>
}

@if (Model.Count() == 0)
{
    <div class="d-grid" style="height:80vh;place-content:center;">
        <h1 class="mb-4">No has hecho pedidos todavía.</h1>
        <div class="text-center">
            <a class="btn btn-primary" asp-action="Index" asp-controller="Escaparate">Ir a la tienda</a>
        </div>
    </div>
}
else
{
    <div class="d-flex flex-column" style="height:62vh">
        <div style="max-height:60vh; overflow: auto;" class="flex-grow-1">
            <table class="table">
                <thead style="position: sticky; top: 0;">
                    <tr>
                        <th style="max-width: 70px;">
                            Núm. Pedido
                        </th>
                        @if (User.IsInRole("Administrador"))
                        {
                            <th>
                                Cliente
                            </th>
                        }
                        <th>
                            Fecha
                        </th>
                        <th>
                            Estado
                        </th>
                        <th class="d-none d-md-table-cell">
                            Núm. Productos
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Id)
                            </td>
                            @if (User.IsInRole("Administrador"))
                            {
                                <td>
                                    @if (item.Cliente.Email.EndsWith("-DEL."))
                                    {
                                        <del>@item.Cliente.Email</del>
                                    }
                                    else
                                    {
                                        @Html.DisplayFor(modelItem => item.Cliente.Email)
                                    }
                                </td>
                            }
                            <td>
                                @Html.DisplayFor(modelItem => item.FechaPedido)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Estado.Nombre)
                            </td>
                            <td class="d-none d-md-table-cell">
                                @Html.DisplayFor(modelItem => item.DetallePedidos.Count)
                            </td>
                            <td>
                                @if (User.IsInRole("Administrador"))
                                {
                                    <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> <span>|</span>
                                }
                                <a asp-action="Details" asp-route-id="@item.Id">Detalles</a>
                                @if (User.IsInRole("Administrador") && (item.EstadoId >= 4 || item.EstadoId == 1))
                                {
                                    <span>|</span> <a asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
                                }
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
        <div class="my-2 d-flex justify-content-center gap-3">
            @if (prevDisabled != "disabled")
            {
                <a asp-action="Index" asp-route-pageNumber="@(Model.PageIndex - 1)"
                   class="btn btn-secondary @prevDisabled">
                    Anterior
                </a>
            }
            @if (nextDisabled != "disabled")
            {

                <a asp-action="Index" asp-route-pageNumber="@(Model.PageIndex + 1)"
                   class="btn btn-secondary @nextDisabled">
                    Siguiente
                </a>
            }
        </div>
    </div>
}
