@model IEnumerable<Integrador.Models.Pedido>

@{
    ViewData["Title"] = User.IsInRole("Cliente") ? "Mis Pedidos" : "Pedidos";
}

<h1>@ViewData["Title"]</h1>

@if (User.IsInRole("Administrador"))
{
    <div class="row mb-2 justify-content-between">
        <div class="col-12 col-sm-6">
            <p>
                <a asp-action="Create">Nuevo pedido</a>
            </p>
        </div>
        <form class="col-12 col-sm-6" style="width:fit-content;">
            <div class="form-group d-flex align-items-center gap-4 mb-1">
                <input name="busq" list="clientes" value="@ViewBag.busq" class="form-control" placeholder="Buscar..." />
                <input type="submit" value="Buscar" class="btn btn-primary" />
                <a class="btn btn-secondary text-nowrap" asp-action="Index" asp-route-busq="">Borrar filtros</a>
            </div>
        </form>
    </div>
    <datalist id="clientes">
        @foreach (var item in (List<Cliente>)ViewData["Clientes"])
        {   
            <option value="@item.Nombre" />
            <option value="@item.Email" />
        }
    </datalist>
}

<div style="max-height:60vh; overflow: auto;">
    <table class="table">
        <thead style="position: sticky; top: 0;">
            <tr>
                @if (User.IsInRole("Administrador"))
                {
                    <th>
                        Id
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Cliente)
                    </th>
                }
                <th>
                    Fecha
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.Estado)
                </th>
                <th class="d-none d-md-table-cell">
                    Núm. Productos
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    @if (User.IsInRole("Administrador"))
                    {
                        <td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td>
                            @if (item.Cliente.Email.EndsWith("-DEL."))
                            {
                                <del>@item.Cliente.Email</del>
                            }
                            else
                            {
                                @Html.DisplayFor(modelItem => item.Cliente.Email)
                            }
                        </td>
                    }
                    <td>
                        @Html.DisplayFor(modelItem => item.FechaPedido)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Estado.Nombre)
                    </td>
                    <td class="d-none d-md-table-cell">
                        @Html.DisplayFor(modelItem => item.DetallePedidos.Count)
                    </td>
                    <td>
                        @if (User.IsInRole("Administrador"))
                        {
                            <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> <span>|</span>
                        }
                        <a asp-action="Details" asp-route-id="@item.Id">Detalles</a>
                        @if (User.IsInRole("Administrador") && item.EstadoId >= 4)
                        {
                            <span>|</span> <a asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
