@model IEnumerable<Integrador.Models.Pedido>

@{
    ViewData["Title"] = "Pedidos";
}

<h1>Pedidos</h1>

@if (User.IsInRole("Administrador"))
{
    <p>
        <a asp-action="Create">Nuevo pedido</a>
    </p>
}

<table class="table">
    <thead>
        <tr>
            @if (User.IsInRole("Administrador"))
            {
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Cliente)
                </th>
            }
            <th>
                @Html.DisplayNameFor(model => model.FechaPedido)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th>
                Núm. Productos
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                @if (User.IsInRole("Administrador"))
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @if (item.Cliente.Email.EndsWith("-DEL."))
                        {
                            <del>@item.Cliente.Email</del>
                        }
                        else
                        {
                            @Html.DisplayFor(modelItem => item.Cliente.Email)
                        }
                    </td>
                }
                <td>
                    @Html.DisplayFor(modelItem => item.FechaPedido)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Estado.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DetallePedidos.Count)
                </td>
                <td>
                    @if (User.IsInRole("Administrador"))
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> <span>|</span>
                    }
                    <a asp-action="Details" asp-route-id="@item.Id">Detalles</a>
                    @if (item.EstadoId >= 5)
                    {
                        <span>|</span> <a asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
