@model IEnumerable<Integrador.Models.Descuento>

@{
    ViewData["Title"] = "Descuentos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Descuentos</h1>

<p>
    <a asp-action="Create">Nuevo descuento</a>
</p>

<div style="max-height:68vh; overflow: auto;">
    <table class="table">
        <thead style="position: sticky; top: 0;">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Codigo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Porcentaje)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Codigo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Porcentaje)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Detalles</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
