@model Integrador.Models.Modelo

@{
    ViewData["Title"] = "Detalles del modelo";
}

<h2>Detalles del modelo</h2>
<hr />

<div class="row">
    <div class="col-12 col-md position-relative">
        <dl class="row mb-4">
            @if (User.IsInRole("Administrador"))
            {
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Id)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Id)
                </dd>
            }
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Nombre)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Nombre)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Marca)
            </dt>
            <dd class="col-sm-9">
                <a asp-action="Details" asp-controller="Marcas" asp-route-id="@Model.MarcaId">
                    @Html.DisplayFor(model => model.Marca.Nombre)
                </a>
            </dd>
            <dt class="col-sm-3">
                Núm. productos
            </dt>
            <dd class="col-sm-9">
                @Model.Productos.Count
            </dd>
        </dl>
        <div class="position-absolute bottom-0 left-0">
            <a asp-action="Index">Volver a la lista</a>
            @if (User.IsInRole("Administrador"))
            {
                <span>|</span>
                <a asp-action="Edit" asp-route-id="@Model?.Id">Editar</a>
            }
        </div>
    </div>
    @if (Model.Productos.Count > 0)
    {
        <div class="col-12 col-md-6">
            <h5>@Html.DisplayNameFor(model => model.Productos)</h5>
            <hr />
            <table class="table border-bottom">
                <tr>
                    <th>
                        Nombre
                    </th>
                    <th class="d-print-none">
                    </th>
                </tr>
                @foreach (var item in Model.Productos)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(model => item.Nombre)
                        </td>
                        <td class="d-print-none">
                            @if (User.IsInRole("Administrador"))
                            {
                                <a asp-action="Edit" asp-controller="Productos"
                                   asp-route-id="@item.Id">Editar</a> <span>|</span>
                                <a asp-action="Details" asp-controller="Productos"
                                   asp-route-id="@item.Id">Detalles</a> <span>|</span>
                                <a asp-action="Delete" asp-controller="Productos"
                                   asp-route-id="@item.Id">Eliminar</a>
                            }
                            else
                            {
                                <a asp-action="Details" asp-controller="Productos"
                                   asp-route-id="@item.Id">Detalles</a>
                            }

                        </td>
                    </tr>
                }
            </table>
            <a asp-action="Index" asp-controller="Productos">Ver todos los productos</a>
        </div>
    }
</div>
